#1. Simple ATM Calculator

In [24]:

balance = int(input("Enter account balance: "))
withdrawal = int(input("Enter withdrawal amount: "))

if withdrawal <= balance:
    balance -= withdrawal
    print(f"Transaction successful. Remaining balance: ₹{balance}")
else:
    print("Insufficient balance. Transaction failed.")

Enter account balance: 5000
Enter withdrawal amount: 1500
Transaction successful. Remaining balance: ₹3500

#2. Electricity Bill Generator

In [25]:

units = int(input("Enter units consumed: "))

bill = 0

if units <= 100:
    bill = units * 5
elif units <= 200:
    bill = (100 * 5) + (units - 100) * 7
else:
    bill = (100 * 5) + (100 * 7) + (units - 200) * 10

print(f"Bill amount = ₹{bill}")

Enter units consumed: 275
Bill amount = ₹1950

#3. Temperature Converter

In [26]:

temp = float(input("Enter temperature value: "))
unit = input("Enter unit (C/F): ").upper()

if unit == "C":
    fahrenheit = (temp * 9/5) + 32
    print(f"Temperature in Fahrenheit: {fahrenheit}°F")
elif unit == "F":
    celsius = (temp - 32) * 5/9
    print(f"Temperature in Celsius: {celsius}°C")
else:
    print("Invalid unit entered.")

Enter temperature value: 37
Enter unit (C/F): c
Temperature in Fahrenheit: 98.6°F

#4. Mobile Recharge Validity

In [27]:
print("=== Mobile Recharge Validity ===")

from datetime import datetime

recharge_date = input("Enter recharge date (YYYY-MM-DD): ")
today_date = input("Enter today's date (YYYY-MM-DD): ")

recharge = datetime.strptime(recharge_date, "%Y-%m-%d")
today = datetime.strptime(today_date, "%Y-%m-%d")

days_used = (today - recharge).days

if days_used <= 28:
    print("Plan is still valid.")
else:
    print("Plan expired. Recharge again.")

=== Mobile Recharge Validity ===
Enter recharge date (YYYY-MM-DD): 2025-07-01
Enter today's date (YYYY-MM-DD): 2025-07-30
Plan expired. Recharge again.

#5. Bus Seat Reservation System

In [28]:

booked = ['Amit', 'Sara', 'John']
cancel = 'Sara'
new_name = 'Neha'
position = 1

if cancel in booked:
    booked.remove(cancel)

booked.insert(position, new_name)

print(booked)

['Amit', 'Neha', 'John']

#6. Sum of Even Numbers

In [35]:

num = int(input("Enter a number: "))
even_sum = 0

for i in range(2, num + 1, 2):
    even_sum += i

print(f"Sum of even numbers: {even_sum}")

Enter a number: 10
Sum of even numbers: 30

#7. Dictionary – Student Marks Summary

In [36]:

students = {}
total_marks = 0

for i in range(3):
    name = input("Enter name: ")
    marks = int(input("Enter marks: "))
    students[name] = marks
    total_marks += marks

average = total_marks / 3
print(f"Average Marks: {average}")

Enter name: Alice
Enter marks: 80
Enter name: Bob
Enter marks: 90
Enter name: Charlie
Enter marks: 70
Average Marks: 80.0

#8. Dictionary – Word Frequency

In [31]:

sentence = input("Enter a sentence: ")
words = sentence.split()

frequency = {}

for word in words:
    frequency[word] = frequency.get(word, 0) + 1

for word, count in frequency.items():
    print(f"{word}: {count}")

Enter a sentence: hello world hello python
hello: 2
world: 1
python: 1

#8. A. Functions – Check Prime

In [32]:

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))

if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 17
17 is a prime number.

#9. Vowel Counter

In [33]:

def count_vowels(text):
    vowels = "aeiouAEIOU"
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count

string = input("Enter a string: ")
print(f"Number of vowels: {count_vowels(string)}")

Enter a string: Python Programming
Number of vowels: 4

#10. Count Divisible Numbers

In [34]:

N = int(input("Enter the range limit (N): "))
D = int(input("Enter the divisor (D): "))

count = 0

for i in range(1, N + 1):
    if i % D == 0:
        count += 1

print(f"Count of numbers divisible by {D}: {count}")

Enter the range limit (N): 50
Enter the divisor (D): 5
Count of numbers divisible by 5: 10